.navbar {
  height: 70px;
  padding: 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #4f46e5;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #4f46e5;
}